<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</head>
<body>

<div class = "container-fluid" >
    <br>

    <a  class = "btn btn-info" href="#">Back</a>
    <script type="text/javascript">
        for(i =0;i<9;i++)
        {
            document.write("<br>");
        }

    </script>
    <div class="mx-auto " style="width:200px">Scan your card to continue</div>
    <br>
    <script type="text/javascript">
        for(i =0;i<148;i++)
        {
            document.write("&nbsp;");
        }

    </script>


    <input type="text" id = "badge_number">
</div>

</body>
</html>
