{% extends '_layout.njk' %}

{% block description %}
<meta name="description" content="User Management for admin">
{% endblock %}

{% block title %}
<title>LUCCA User Management</title>
{% endblock %}

{% block content %}
<div class="panel panel-default user_panel">
    <div class="panel-heading">
        <h3 class="panel-title"><center>User Management Page</center></h3>
    </div>
</div>
<br />

  <div class ="container">
  <div class="form row" >
    <div class="col-10">
         <input id="searchBox" name="userInput" size="40" type="text" onkeyup = "searchFunction()" placeholder="Search User (by Badge ID or Name) Here"required/>
    </div>
    <div class="col-2 align-self-end">
      <!-- dropdown menu to filter stations displayed based on registered status -->
      <div class="btn-group dropright">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropRightMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter Users By Stations
        </button>
        <div class="dropdown-menu" aria-labelledby="dropRightMenu">
           {% for item in stations %}

             <a class="dropdown-item" href = "/userManagement/getPrivilegedStationUsers/{{item.sId}}">{{item.name}}</a>
            
           {% endfor %}
          </div>
      </div>
    </div>
  </div>
</div>  
<br /><br />

<div class="row">
    <div class="panel panel-default user_panel">
        <div class="panel-heading">
            <h3 class="panel-title">User List</h3>
        </div>         
    </div>
</div>

<div class="container mb-5 pb-5">
    <table class="table" id = "userTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Badge Number</th>
                <th scope="col">Validated</th>
                <th scope="col">Modify values</th>
                </tr>
        </thead>

        {% for item in users %}
            <tr>
                <td>{{item.first}} {{item.last}}</td>
                <td><name="badgeNumber">{{item.badge}}</td>
                <td>{{item.confirmation}}</td>
                <td><button class="btn btn-primary" onclick="fwd(this)" data-badge={{item.badge}}>Edit details</button></td>
                {# <td action="/userManagement/badge" method="post"><button class="btn btn-primary" type="Submit">User-Station</button><td> #}
            </tr>
        {% endfor %}   
    </table>
</div>

<script type="text/javascript">

        function fwd(obj) {
            var badge  = obj.getAttribute("data-badge")
            window.location.href = ("/userManagement/" + badge), true
        }
        function searchFunction()
        {
            var input,filter,table,tr,td, i,td2;
            input = document.getElementById("searchBox");
            filter = input.value.toUpperCase();
            table = document.getElementById("userTable");
            tr = table.getElementsByTagName("tr");
             for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td2 = tr[i].getElementsByTagName("td")[1];
                 if (td && td2) {
                   if ((td.innerHTML.toUpperCase().indexOf(filter) > -1) || (td2.innerHTML.toUpperCase().indexOf(filter) > -1)){
                    tr[i].style.display = "";
                   } 
                   else {
                    tr[i].style.display = "none";
                       }
                  }       
            }

        }

</script>


{% endblock %}