body {
    padding-bottom: 40px;
}
h1 {
    color: black;
    position: absolute;
    font-size: x-large;
    left: 0;
    top:37%;
    width:100%;
    text-align:center;
}
.btn-primary{
    color: white;
    padding: 15px 60px;
    text-align: center;
    font-size: 15px;
    margin: 4px 4px;
    position: absolute;
    left: 45%;
    top:45%;
}
div.alert-success{
    position: absolute;
    font-size: large;
    left: 30%;
    top:20%;
    width:40%;
    text-align:center;
    font-size: 17px;
    margin: 10px 4px;
}