body
{
    color: aliceblue;
}
p
{
    color: black;
    position: absolute;
    font-size: large;
    left: 0;
    top:33%;
    width:100%;
    text-align:center;

}
.center
{
    position: absolute;
    left: 0;
    top:40%;
    width:100%;
    text-align:center;
    font-size: 18px;
}